In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('Clean Data.csv')

In [4]:
df.head()

,Unnamed: 0,Age,Number of sexual partners,First sexual intercourse,Num of pregnancies,Smokes,Smokes (years),Smokes (packs/year),Hormonal Contraceptives,Hormonal Contraceptives (years),...,STDs:HIV,STDs: Number of diagnosis,Dx:Cancer,Dx:CIN,Dx:HPV,Dx,Hinselmann,Schiller,Citology,Biopsy
0,0,18,4.0,15.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,0,0,0,0,0,0,0
1,1,15,1.0,14.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,0,0,0,0,0,0,0
2,2,34,1.0,17.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,0,0,0,0,0,0,0
3,3,52,5.0,16.0,4.0,1.0,37.0,37.0,1.0,3.0,...,0.0,0,1,0,1,0,0,0,0,0
4,4,46,3.0,21.0,4.0,0.0,0.0,0.0,1.0,15.0,...,0.0,0,0,0,0,0,0,0,0,0

In [6]:
target = []
for hin, schi, citi, bio in zip(df['Hinselmann'], df['Schiller'], df['Citology'], df['Biopsy']):
    if hin == 1 or schi == 1 or citi == 1 or bio == 1:
        target.append(1)
    else:
        target.append(0)

In [11]:
target.count(1)

102

In [12]:
df['Target'] = target

In [13]:
df

,Unnamed: 0,Age,Number of sexual partners,First sexual intercourse,Num of pregnancies,Smokes,Smokes (years),Smokes (packs/year),Hormonal Contraceptives,Hormonal Contraceptives (years),...,STDs: Number of diagnosis,Dx:Cancer,Dx:CIN,Dx:HPV,Dx,Hinselmann,Schiller,Citology,Biopsy,Target
0,0,18,4.0,15.0,1.0,0.0,0.0,0.0,0.0,0.00,...,0,0,0,0,0,0,0,0,0,0
1,1,15,1.0,14.0,1.0,0.0,0.0,0.0,0.0,0.00,...,0,0,0,0,0,0,0,0,0,0
2,2,34,1.0,17.0,1.0,0.0,0.0,0.0,0.0,0.00,...,0,0,0,0,0,0,0,0,0,0
3,3,52,5.0,16.0,4.0,1.0,37.0,37.0,1.0,3.00,...,0,1,0,1,0,0,0,0,0,0
4,4,46,3.0,21.0,4.0,0.0,0.0,0.0,1.0,15.00,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
851,851,34,3.0,18.0,0.0,0.0,0.0,0.0,0.0,0.00,...,0,0,0,0,0,0,0,0,0,0
852,852,32,2.0,19.0,1.0,0.0,0.0,0.0,1.0,8.00,...,0,0,0,0,0,0,0,0,0,0
853,853,25,2.0,17.0,0.0,0.0,0.0,0.0,1.0,0.08,...,0,0,0,0,0,0,0,1,0,1
854,854,33,2.0,24.0,2.0,0.0,0.0,0.0,1.0,0.08,...,0,0,0,0,0,0,0,0,0,0
855,855,29,2.0,20.0,1.0,0.0,0.0,0.0,1.0,0.50,...,0,0,0,0,0,0,0,0,0,0

In [17]:
df.drop(['Hinselmann', 'Schiller', 'Citology', 'Biopsy'], axis = 1, inplace=True)

In [18]:
df.head()

,Unnamed: 0,Age,Number of sexual partners,First sexual intercourse,Num of pregnancies,Smokes,Smokes (years),Smokes (packs/year),Hormonal Contraceptives,Hormonal Contraceptives (years),...,STDs (number),STDs:condylomatosis,STDs:syphilis,STDs:HIV,STDs: Number of diagnosis,Dx:Cancer,Dx:CIN,Dx:HPV,Dx,Target
0,0,18,4.0,15.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,0.0,0.0,0,0,0,0,0,0
1,1,15,1.0,14.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,0.0,0.0,0,0,0,0,0,0
2,2,34,1.0,17.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,0.0,0.0,0,0,0,0,0,0
3,3,52,5.0,16.0,4.0,1.0,37.0,37.0,1.0,3.0,...,0,0.0,0.0,0.0,0,1,0,1,0,0
4,4,46,3.0,21.0,4.0,0.0,0.0,0.0,1.0,15.0,...,0,0.0,0.0,0.0,0,0,0,0,0,0

In [19]:
df.to_csv('Fleur_SandboxSet.csv')